# Python
venv/
__pycache__/
*.pyc

# TLS / Security - KEINE private keys hochladen!
*.key
*.pem
*.pfx
*.p12

# Zertifikate nur wenn echte Secrets – bei Schulprojekten optional
# *.crt

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log